<% layout :title => 'Computers' %>

<div class="table-responsive">
<table class="table table-hover">
	<thead>
		<tr><th>Hostname</th><th>Last Report</th><th>Status</th></tr>
	</thead>
	<tbody>
		<% @computers.each do |c| %>
			<tr>
				<td><%= computer_link(c) %></td>
				<% if c.reports.empty? %>
					<td><span class="text-muted">not found</span></td>
					<td><span class="text-muted">unknown</span></td>
				<% else %>
					<td><%= report_link(c.reports.last) %></td>
					<td><%= status_tag(c.reports.last) %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
</div>

