<% layout(
	:title => 'Computers' 
) %>

<div class="table-responsive">
<table class="table table-hover">
	<thead>
		<tr>
			<th class="tcol-name">Hostname</th>
			<th class="tcol-lut">Environment</th>
			<th class="tcol-date">Last Report</th>
			<th class="tcol-lut">Status</th>
		</tr>
	</thead>
	<tbody>
		<% @computers.each do |c| %>
			<tr>
				<td><%= computer_link(c) %></td>
				<% if c.reports.empty? %>
					<td><span class="text-muted">unknown</span></td>
					<td><span class="text-muted">not found</span></td>
					<td><span class="text-muted">unknown</span></td>
				<% else %>
					<td><%= c.reports.last.environment %></td>
					<td><%= report_link(c.reports.last) %></td>
					<td><%= status_tag(c.reports.last) %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
</div>

