<% layout :title => @computer.name %>

<div class="table-responsive">
<table class="table table-hover">
	<caption>Puppet Reports</caption>
	<thead>
		<tr><th>Report time</th><th>Status</th></tr>
	</thead>
	<tbody>
		<% @computer.reports.reverse.each do |r| %>
			<tr>
				<td><%= report_link(r) %></td>
				<td><%= status_tag(r) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>

