!!!
%html
  %head
    %title
      = @title
      \- PPrep
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => hres('bootstrap/css/bootstrap.min.css'), :rel => "stylesheet"}/
    %link{:href => hres('datagrid.css'), :rel => "stylesheet"}/
    %link{:href => hres('css/pprep.css'), :rel => "stylesheet"}/
    - (@stylesheets || []).each do |stylesheet|
      %link{:href => hres(stylesheet), :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="<haml:loud> hres('js/html5shiv.js') </haml:loud>"></script>
      <script src="<haml:loud> hres('js/respond.min.js') </haml:loud>"></script>
  %body
    .page-container
      .page-header
        %h1= @title
        - if @uplink
          %p.uplink
            [
            %a{:href => @uplink}>= @uplink_title || @uplink
            ]
      .page-body
        = yield
    // %script{:src => hres('js/underscore.min.js')}
    %script{:src => hres('js/jquery.min.js')}
    %script{:src => hres('bootstrap/js/bootstrap.min.js')}
    %script{:src => hres('js/pprep.js')}
    - (@scripts || []).each do |script|
      %script{:src => hres(script)}
