= @title
%button.btn.btn-default.btn-xs.pull-right
  - case @sorting
  - when :asc
    %span.glyphicon.glyphicon-chevron-up
  - when :desc
    %span.glyphicon.glyphicon-chevron-down
  - else
    %span.glyphicon.glyphicon-minus
